*{
    margin: 0;
    padding: 0;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #3c71b7, #6c9cbc);
    padding: 0 !important;
}